<div class="container">
  <%= form_with(model: trip, local: true, multipart: true) do |form| %>
    <% if trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

        <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class:"u-full-width" %>
    </div>
  <br>

    <div class="">
      <%= form.label :category %>
      <%= select_tag :category_id, options_for_select(@categories), prompt: "Sélectionnez une catégorie de trip.", class:"u-full-width" %>
    </div>

  <br>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class:"u-full-width" %>
    </div>
    <br>
    <br>

    <div class="flex-container">
      <p>Vous pouvez ajouter une photo à votre itinéraire, ou la modifier :</p>
      <%= form.file_field :trip_picture %>
    </div>
    <br>
    <br>

    <div class="actions">
      <%= form.submit "Enregistrer"%>
    </div>

  <hr />

  <div class="container">
    <%= link_to "Retour à l'accueil", trips_path, class:"button btn-margin" %>
    <%= link_to "Supprimer le trip", trip_path, method:"delete", data: {confirm: "Êtes-vous sûr de supprimer ce trip ?"}, class:"button btn-margin" %>
  <br>
  <br>
  <br>
  </div>
  <% end %>
</div>
