<%= form_with model: @trip, local: true do |form| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> Les modifications n'ont pas pu être enregistrées :</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :title, "Modifier le titre" %></strong>
    <%= form.text_field :title, class:"input" %>
  </div>
  <br>
  <div class="field">
    <p>Categorie actuelle : <strong><%= @trip.category.name %></strong></p>
    <br>
    <strong><%= form.label :category, "Modifier la catégorie" %></strong>
    <%= select_tag :category_id, options_for_select(@categories), prompt: "Sélectionner une catégorie", class:"select is-fullwidth" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :description, "Modifier la description" %></strong>
    <%= form.hidden_field :description, id:'trip_description' %>
    <trix-editor class="trix-content" input="trip_description"></trix-editor>
  </div>
  <br>
  <div class="field">
    <%= form.label :tag_list, "Vous pouvez entrer des tags en les séparant par une virgule" %>
    <%= form.text_field :tag_list, class:"input" %>
  </div>
  <br>
  <div class="field">
  <strong> Modifier la photo associée : </strong>
  <%= form.file_field :trip_picture %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :attribution_photo, "Entrer une attribution pour l'auteur de la photo" %></strong>
    <%= form.text_field :attribution_photo, class:"input" %>
  </div>
  <br>
  <div class="field">
    <%= form.submit "Confirmer les modifications", class:"button is-primary is-fullwidth" %>
  </div>
<% end %>
