<%= form_with(model: trip, local: true, multipart: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> L'itinéraire n'a pas pu être enregistré :</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title, class:"input" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :category, "Catégorie" %>
    <div class="control">
      <%= select_tag :category_id, options_for_select(@categories), prompt: "Sélectionnez une catégorie de trip.", class:"select is-fullwidth" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :description, "Description" %>
    <div class="control">
      <%= form.hidden_field :description, id:'trip_description' %>
      <trix-editor input="trip_description"></trix-editor>
    </div>
    <br>
  </div>
  <br>
  <div class="field">
    <%= form.label :tag_list, "Vous pouvez entrer des tags en les séparant par une virgule" %>
    <%= form.text_field :tag_list, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong>Vous pouvez ajouter une photo :</strong>
    <%= form.file_field :trip_picture %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :attribution_photo, "Entrer une attribution pour l'auteur de la photo" %></strong>
    <%= form.text_field :attribution_photo, class:"input" %>
  </div>
  <br>
  <div class="field">
    <%= form.submit "Enregistrer", class:"button is-primary is-fullwidth"%>
  </div>
<% end %>
