<div class="container">
  <% @trip.places.each do |p| %>

      <p> <%= link_to "#{p.name}", trip_place_path(@trip.id, p[:id]), class:"poi-name" %> </p>
      <p><%= p.description %><p>

  <% end %>

  <div id="map" style="width: 100%; height: 600px;"></div>
</div>



<script>

var coords = []
  gon.places.forEach(function(place) {
    var new_array = [place.longitude, place.latitude];
    coords.push(new_array)
    
  });



var geojson = {type: 'FeatureCollection', features: []}
 gon.places.forEach(function(place) {
    var new_feature = {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [place.longitude, place.latitude]
    },
    properties: {
      name: place.name,
      description: place.description,
      subtitle: place.subtitle,
      price: place.price_2,
      website: place.website,
      phone: place.phone,
      address: place.address
    }
  };
  geojson.features.push(new_feature)
    
  });

// RAJOUTER LA CLÉ EN DESSOUS
var accessToken =  '<%= ENV['MAPBOX_KEY']%>';

///////////////////

mapboxgl.accessToken = accessToken;
//on initialise notre map sur le div #map
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [<%= @trip.places.first.longitude%>, <%= @trip.places.first.latitude%>], //un centre initial [longitude, latitude] (facultatif)
    zoom: 13 //un zoom initial (facultatif)
});

// add markers to map (les variables geojson et coords sont definies dans asset/javascript/places.js)
geojson.features.forEach(function(marker) {
  
  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = ' fas fa-map-marker-alt fa-3x ';
 
  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.name + '</h3><p>' + marker.properties.address + '<hr><br>' + marker.properties.price + '$  |  ' + marker.properties.phone + '<hr><br>' +  marker.properties.website + '</p>'))
    .addTo(map);
});

map.on('load', function () {
    fitMap(map, coords);
});

function fitMap(map, coords) {
    var bounds = coords.reduce(function (bounds, coord) {
        return bounds.extend(coord);
    }, new mapboxgl.LngLatBounds(coords[0], coords[0]));
    map.fitBounds(bounds, {
        padding: 30 //marge autour des points
    });
}




</script>