<div class="container">
  <div class="container has-text-centered">
    <h2 class="is-size-3 has-text-centered has-text-weight-semibold has-text-black">Feuille de route</h2>
    <hr>
    <i class="fas fa-map-marker-alt fa-2x icon-margin"></i>
    <span class="is-size-5 has-text-black-bis has-text-weight-semibold"><%= trip.places.length%> étape(s)</span>
  </div>

  <div class="columns">
    <div class="column">
      <p class="is-size-6 has-text-centered has-text-black-bis">Type d'itinéraire : <span class= "is-size-6 has-text-centered has-text-black-bis has-text-weight-semibold"><%= trip.category.name %></span> </p>
    </div>

      <div class="column">
        <% if trip.tag_list.any? %>
          <p class="is-size-6 has-text-centered has-text-black-bis"> Tags : <%= trip.tag_list %> </p>
        <% end %>
      </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-full-mobile is-three-fifths-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <% trip.trip_waypoints.order(rank: :asc).each do |waypoint| %>

          <div class="columns is-mobile">
            <div class="column is-narrow">
              <div class="numberCircleSmall"><%= waypoint.rank %></div>
            </div>
            <div class="column">
              <p class="is-size-6 has-text-weight-semibold"><%= link_to "#{waypoint.place.name}", place_path(waypoint.place[:id]), class:"has-text-black"%></p>
            </div>
            <div class="column is-narrow">
              <% if waypoint.place.place_picture.attached? %>
                <%= link_to image_tag(waypoint.place.place_picture, class: "image is-64x64"), place_path(waypoint.place.id) %>
              <% else %>
                <img class='is-rounded' src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
              <% end %>
            </div>
          </div>

        <% end %>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-three-fifths-tablet is-two-thirds-desktop is-three-quarters-widescreen is-three-quarters-fullhd">
      <div id="map" style="width: 100%; height: 350px;"></div>
    </div>
  </div>
</div>

<br>

<section class="section">
  <h2 class="is-size-3 has-text-centered has-text-weight-semibold has-text-black">Guide</h2>
  <hr>
  <% trip.trip_waypoints.order(rank: :asc).each do |waypoint| %>
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">

        <div class="columns is-multiline is-variable is-2">
          <div class="column is-one-quarter">
            <figure class="image is-5by3">
              <% if waypoint.place.place_picture.attached? %>
                <%= link_to image_tag(waypoint.place.place_picture, class: "is-rounded"), place_path(waypoint.place.id) %>
              <% else %>
                <img class='is-rounded' src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
              <% end %>
            </figure>
          </div>
          <div class="column is-three-quarters">
            <div class="columns is-mobile">
              <div class="column is-narrow">
                <div class="numberCircle">
                  <%= waypoint.rank %>
                </div>
              </div>
              <div class="column">
                <h3 class="is-size-5 has-text-weight-semibold"><%= link_to "#{waypoint.place.name}", place_path(waypoint.place[:id]), class:"has-text-black"%></h3>
              </div>
            </div>
            <p class="subtitle has-text-black is-size-6"><%= waypoint.place.subtitle %></p>
          </div>
          <div class="column">
            <p class="is-size-6 has-text-black-bis"><%= sanitize waypoint.place.description %></p>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            <hr>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</section>

<script>

  // RAJOUTER LA CLÉ EN DESSOUS
  var accessToken =  '<%= ENV['MAPBOX_KEY']%>';
  mapboxgl.accessToken = accessToken;


  var waypoints = {
    type: 'FeatureCollection',
    features : []
  };
  gon.trip_waypoints.forEach(function(place) {
    let new_feature = {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [place.longitude, place.latitude]
      },
      properties: {
        name: place.name,
        description: place.description,
        subtitle: place.subtitle,
        price: place.price,
        price2: place.price_2,
        website: place.website,
        phone: place.phone,
        address: place.address,
      }
    };
    waypoints.features.push(new_feature)
  });

  var coords = []
  gon.trip_waypoints.forEach(function(place) {
    var new_array = [place.longitude, place.latitude];
    coords.push(new_array)
  });

  var listCoords = coords.join(";");

  console.log(coords);

  //on initialise notre map sur le div #map
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [<%= trip.places.first.longitude%>, <%= trip.places.first.latitude%>], //un centre initial [longitude, latitude] qui est le point de départ de l'itinéraire
    zoom: 11 //un zoom initial (facultatif)
  });

  var language = new MapboxLanguage();
  map.addControl(language);


  // function to call on map load to add markers to map
  function addMarkers() {
    waypoints.features.forEach(function(marker) {
      // create a HTML element for each feature
      var el = document.createElement('i');
      el.className = 'fas fa-map-marker-alt fa-3x';
      //el.innerHTML = gon.waypoints_rank ;
      var popup = new mapboxgl.Popup({ offset: 25 }).setHTML('<strong>' + marker.properties.name + '</strong><p>'+ marker.properties.address + '</p>' + '<strong>' + marker.properties.website + '<strong>');
      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(popup) // add popups
        .addTo(map);
    });
    //marker.togglePopup(); // toggle popup open or closed
  };

  function getRoute() {
    var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + listCoords + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;

    console.log(url)

    var req = new XMLHttpRequest();
    req.open('GET', url, true);

    req.onload = function() {
      var json = JSON.parse(req.response);
      var data = json.routes[0];
      var route = data.geometry.coordinates;
      var geojson = {
        type: 'Feature',
        properties: {},
        geometry: {
          type: 'LineString',
          coordinates: route
        }
      };

      if (map.getSource('route')) {
        map.getSource('route').setData(geojson);
      } else {
        map.addLayer({
          id: 'route',
          type: 'line',
          source: {
            type: 'geojson',
            data: {
              type: 'Feature',
              properties: {},
              geometry: {
                type: 'LineString',
                coordinates: geojson
              }
            }
          },
          layout: {
            'line-join': 'round',
            'line-cap': 'round'
          },
          paint: {
            'line-color': '#0a0a5c',
            'line-width': 5,
            'line-opacity': 0.75
          }
        });
      };
    };

     req.send();
   };

   function fitMap() {
     var bounds = coords.reduce(function (bounds, coord) {
       return bounds.extend(coord);
     }, new mapboxgl.LngLatBounds(coords[0], coords[0]));
     map.fitBounds(bounds, {
       padding: 100
     });
    getRoute();
  };

    map.on('load', function() {
      addMarkers();
      fitMap(map, coords);
    });

    getRoute();


  // Add fulllscreen control on the map
  map.addControl(new mapboxgl.FullscreenControl());

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  console.log(coords.indexOf(coords[0]) + 1);

</script>
