<p id="notice"><%= notice %></p>




<% if user_signed_in? %>
  <%= render 'createNewTrip' %>
<% end %>

<div class="container">
  <% if user_signed_in? && current_user.role === 'admin' %>
    <%= link_to "Interface d'admin des itinéraires", admin_trips_path %>
  <% end %>
</div>


<%= render 'shared/jumbotron' %>
<br><br>
<%= render 'indexAllTrips' %>
