<%= render 'shared/hero' %>

<section class="section">
  <% if isTraveler? %>
    <div class="container has-text-centered">
      <h2 class ="title is-2 has-text-black-bis"> Bienvenue <%= current_user.first_name%> </h2>
      <%= link_to "Créer un itinéraire", new_trip_path, class:"button is-primary is-rounded" %>
    </div>

  <% elsif isPartner? %>
    <div class="box has-text-centered">
      <h2 class="title is-2 has-text-black-bis"> Bienvenue cher partenaire </h2>
      <p> Vous êtes connecté sur le compte :</p>
      <strong><%= current_user.first_name%></strong>
      <p>Retrouvez vos options de gestion et de publication dans votre compte.</p>
      <br>
      <%= link_to "Aller sur mon compte", user_path(current_user.id), class:"button is-primary is-rounded" %>
    </div>

  <% elsif isAdmin? %>
    <div class="box has-text-centered">
      <h2 class='title is-2 has-text-black-bis'> Bienvenue <%= current_user.first_name%></h2>
      <p>Vous êtes administrateur. Retrouvez vos autorisations d'administration dans l'espace Admin.</p>
      <br>
      <div class="buttons is-centered">
        <%= link_to "Espace Admin", admin_admin_path, class:'button is-rounded' %>
        <%= link_to "Ouvrir votre profil", admin_user_path(current_user.id), class:"button is-primary is-rounded" %>
        <%= link_to "Ouvrir la carte", map_path, class:'button is-rounded is-outlined is-info' %>
      </div>
    </div>

    <% else %>
    <div class="box has-text-centered">
      <h2 class='title is-2 has-text-black-bis'> Bienvenue cher visiteur</h2>
      <p class="has-text-black-bis"> Vous voulez créer vos propres itinéraires personnels ?</p>
      <p class="has-text-black-bis">Enregistrer les itinéraires qui vous plaisent pour les retrouver facilement ?</p>
      <br>

      <%= link_to "Créez votre compte", new_user_registration_path, class:"button is-primary is-rounded is-medium" %>
    </div>

  <% end %>
</section>

<% if user_signed_in? %>

<section class=section>
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">

      <h1 class="title is-2 has-text-black">Explorer les guides</h1>

      <div class="columns">
        <div class="column is-two-thirds has-text-right">
          <h4 class="is-subtitle is-4 has-text-black has-text-weight-semibold">Filtrer par catégories :</h4>
        </div>
        <div class="column has-text-right">
          <%= link_to "Roadtrips", category_path(id=1), class:"is-4 has-text-black" %>
        </div>
        <div class="column has-text-right">
          <%= link_to "À vélo", category_path(id=2), class:"is-4 has-text-black" %>
        </div>
        <div class="column has-text-right">
          <%= link_to "À pied", category_path(id=3), class:"is-4 has-text-black has-text-right" %>
        </div>
      </div>

      <div class="tile is-ancestor wrap-container">
        <% @trips.each do |trip| %>
          <%= render 'tripTile', trip: trip %>
        <% end %>
      </div>

    </div>
  </div>
</section>

<% else %>
<section class="section has-background-warning">
  <div class="columns is-centered">
    <div class="column has-text-centered is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <p>Ce site est actuellement en développement et est accessible uniquement sur demande.</p>
      <p>Si vous disposez d'un login et d'un mot de passe, vous pouvez vous connecter ; dans le cas contraire, vous pouvez faire une demande par mail à l'adresse suivante : </p>
      <p class="has-text-black-bis has-text-weight-bold">rocavel.dev@zoho.eu</p>
    </div>
  </div>
</section>
<% end %>
