<%= render 'shared/hero' %>

<section class="section">
  <% if isTraveler? %>
    <div class="container has-text-centered">
      <h2 class ="title is-2"> Bienvenue <%= current_user.first_name%> </h2>
      <%= link_to "Créer un itinéraire", new_trip_path, class:"button is-primary is-rounded" %>
    </div>

  <% elsif isPartner? %>
    <div class="box has-text-centered">
      <h2 class="title is-2"> Bienvenue cher partenaire </h2>
      <p> Vous êtes connecté sur le compte :</p>
      <strong><%= current_user.first_name%></strong>
      <p>Retrouvez vos options de gestion et de publication dans votre compte.</p>
      <br>
      <%= link_to "Aller sur mon compte", partner_user_path(current_user.id), class:"button is-primary is-rounded" %>
    </div>

  <% elsif isAdmin? %>
    <div class="box has-text-centered">
      <h2 class='title is-2'> Bienvenue <%= current_user.first_name%></h2>
      <p>Vous êtes administrateur. Retrouvez vos autorisations d'administration dans l'espace Admin.</p>
      <br>
      <div class="buttons is-centered">
        <%= link_to "Espace Admin", admin_admin_path, class:'button is-rounded' %>
        <%= link_to "Ouvrir votre profil", admin_user_path(current_user.id), class:"button is-primary is-rounded" %>
      </div>
    </div>

    <% else %>
    <div class="box has-text-centered">
      <h2 class='title is-2'> Bienvenue cher visiteur</h2>
      <p> Vous voulez créer vos propres itinéraires personnels ?</p>
      <p>Enregistrer les itinéraires qui vous plaisent pour les retrouver facilement ?</p>
      <br>

      <%= link_to "Créez votre compte", new_user_registration_path, class:"button is-primary is-rounded is-large" %>
    </div>

  <% end %>
</section>

  <div class="container has-background-info is-fluid has-text-centered">
    <br>
    <h1 class="title is-1 has-text-white">Parcourir les guides</h1>
    <br>
  </div>
<section class=section>
  <div class="tile is-ancestor wrap-container">
    <% @trips.each do |trip| %>
        <div class="tile is-parent is-3">

          <div class="tile is-child box">
            <figure class="image is-5by3">
              <% if trip.trip_picture.attached? %>
                 <img src = "<%= rails_blob_url(trip.trip_picture)%>">
              <% else %>
                <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
              <% end %>
            </figure>
            <p class="title">
              <%= link_to "#{trip.title}", trip_path(trip[:id]), class:"title is-4 has-text-primary" %>
            </p>
            <p class="subtitle has-text-black is-6">
              <%= trip.category.name %>
            </p>
            <div class="media">
              <figure class="media-left image is-48x48">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
              <div class="media-content">
                <p class="is-6"><%= trip.author.last_name %></p>
              </div>
            </div>
          </div>

        </div>

    <% end %>
  </div>
</section>
