<%= render 'tripBanner' %>
<% pre_saved_trip = @trip.saved_trips.find { |saved_trip| saved_trip.user_id == current_user.id} %>
<% if pre_saved_trip %>
  <%= link_to '<i class="fas fa-bookmark"></i>'.html_safe, trip_saved_trip_path(@trip, pre_saved_trip.id), method: :delete %>
<% else %>
  <%= button_to 'Sauvegarder le trip', trip_saved_trips_path(@trip), method: :post %>
<% end %>
<% if !@trip.places.empty? %>
  <%= render 'tripPOIs' %>
<% end %>


<p id="notice"><%= notice %></p>

<div class="container">
  <div class="flex-container">
    <% if @trip.author == current_user%>
    <div class="navbar-item">
      <%= link_to "Éditez le trip", edit_trip_path(@trip[:id]), class:"button button-primary" %>
    </div>
    <% end%>
    <div class="navbar-item">
      <%= link_to "Revenir aux trips", trips_path, class:"button" %>
    </div>
  </div>
</div>
<br>
<br>
