<%= render 'tripBanner' %>

<nav id="tripNav" class="panel has-background-white">
  <p class="panel-tabs">
    <a href="#roadmap" class="has-text-black is-size-5">Feuille de route</a>
    <a href="#carto" class="has-text-black is-size-5">Carto</a>
    <a href="#guide" class="has-text-black is-size-5">Guide</a>
  </p>
</nav>

<section class="section">
  <% if isAdmin? && @trip.online == false %>
    <p class="has-text-centered has-text-danger">Cet itinéraire n'est pas en ligne. Vous le visionnez actuellement tel qu'il apparaîtrait s'il était publié.</p>
    <br>
  <% end %>

  <div class="columns is-centered">
    <div class="column is-half">
      <div class="buttons is-centered">
        <% if user_signed_in? %>
          <%if current_user != @trip.author %>
            <% pre_saved_trip = @trip.saved_trips.find { |saved_trip| saved_trip.user_id == current_user.id} %>
            <% if pre_saved_trip %>
              <button class="button is-outlined is-danger">
                <span><%= link_to 'Retirer des favoris', trip_saved_trip_path(@trip, pre_saved_trip.id), method: :delete, class:"has-text-black is-size-7" %></span>
              </button>
            <% else %>
              <button class="button is-outlined is-success">
                <span class="icon"><i class="fas fa-save"></i></span><%= link_to 'Ajouter aux favoris', trip_saved_trips_path(@trip), method: :post, class:"has-text-black is-size-7" %>
              </button>
            <% end %>
          <% end %>
        <% end %>
        <button class="button is-outlined is-info" onclick="window.print()">
          <span class="icon"><i class="fas fa-print"></i></span><span class="has-text-black is-size-7">Imprimer</span>
        </button>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-half-desktop is-three-quarters-mobile">
      <div class="has-text-centered">
        <p class="has-text-black-bis">Publié le <%= @trip.created_at.strftime("%d/%m/%Y")  %></p>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">
      <p class="has-text-black-bis"><%= sanitize @trip.description%></p>
    </div>
  </div>
</section>
  <br>

  <% if !@trip.places.empty? %>
    <%= render 'tripPlacesBis', trip: @trip %>
  <% elsif current_user == @trip.author%>
    <div class = "container">
      <strong>Votre itinéraire ne comporte pas encore d'étape. Vous pouvez en ajouter en l'éditant.</strong>
    </div>
  <% end %>
  <br>

<section class="section">
  <% if isAdmin? %>
    <div class="buttons is-centered">
      <%= link_to "Éditer l'itinéraire", edit_admin_trip_path(@trip[:id]), class:"button is-info" %>
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% elsif current_user == @trip.author%>
      <div class="buttons is-centered">
        <%= link_to "Éditer l'itinéraire", edit_trip_path(@trip[:id]), class:"button is-info" %>
        <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
      </div>
  <% else %>
    <div class="container has-text-centered">
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% end %>
</section>
