<%= render 'tripBanner' %>

<section class="section">

<div class="columns is-centered">
  <div class="column is-half">
    <div class="buttons is-centered">
      <% if user_signed_in? %>
          <%if current_user != @trip.author %>
            <% pre_saved_trip = @trip.saved_trips.find { |saved_trip| saved_trip.user_id == current_user.id} %>
              <% if pre_saved_trip %>
                <button class="button is-outlined is-danger">
                  <span><%= link_to 'Retirer des favoris', trip_saved_trip_path(@trip, pre_saved_trip.id), method: :delete, class:"has-text-black is-size-7" %></span>
                </button>
              <% else %>
              <button class="button is-outlined is-success">
                <span class="icon"><i class="fas fa-save"></i></span><%= link_to 'Ajouter aux favoris', trip_saved_trips_path(@trip), method: :post, class:"has-text-black is-size-7" %>
              </button>

              <% end %>
          <%end%>
      <% end %>
      <button class="button is-outlined is-info" onclick="window.print()">
        <span class="icon"><i class="fas fa-print"></i></span><span class="has-text-black is-size-7"">Imprimer</span>
      </button>
    </div>
  </div>
</div>




  <div class="columns is-mobile is-centered">
    <div class="column is-half-desktop is-three-quarters-mobile">
      <div class="box has-text-centered">
        <p class="has-text-black-bis has-text-weight-semibold">Crée par <%= @trip.author.first_name %> <%= @trip.author.last_name %></p>
        <p class="has-text-black-bis">le <%= @trip.created_at.strftime("%d/%m/%Y")  %></p>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">
      <p class="subtitle is-6 has-text-black-bis has-text-weight-bold"><%= sanitize @trip.description%></p>
    </div>

  </div>
  <br>

  <% if !@trip.places.empty? %>
    <%= render 'tripPlaces' %>
  <% elsif current_user == @trip.author%>
    <div class = "container">
      <strong>Votre itinéraire ne comporte pas encore d'étape. Vous pouvez en ajouter en l'éditant.</strong>
    </div>
  <% end %>
  <br>
  <% if isAdmin? %>
    <div class="buttons is-centered">
      <%= link_to "Éditer l'itinéraire", edit_admin_trip_path(@trip[:id]), class:"button is-info" %>
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% elsif current_user == @trip.author%>
      <div class="buttons is-centered">
        <%= link_to "Éditer l'itinéraire", edit_trip_path(@trip[:id]), class:"button is-info" %>
        <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
      </div>
  <% else %>
    <div class="container has-text-centered">
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% end %>
</section>
