<%= render 'tripBanner' %>

<section class="section">

  <% if user_signed_in? %>
    <div class="container has-text-centered">
      <%if current_user != @trip.author %>
        <% pre_saved_trip = @trip.saved_trips.find { |saved_trip| saved_trip.user_id == current_user.id} %>
          <% if pre_saved_trip %>
              <%= button_to 'Retirer des favoris', trip_saved_trip_path(@trip, pre_saved_trip.id), method: :delete, class:"button is-danger is-outlined" %>
          <% else %>
              <%= button_to 'Ajouter aux favoris', trip_saved_trips_path(@trip), method: :post, class:"button is-primary is-outlined" %>
          <% end %>
      <%end%>
    </div>
    <br>
    <div class="has-text-centered">
      <% if @trip.online == false %>
        <div class="container">
          <p class="is-italic has-text-weight-medium"> Cet itinéraire est en attente de validation par l'admin pour publication en ligne. </p>
        </div>
      <% end %>
    </div>
  <% end %>


  <div class="columns is-mobile is-centered">
    <div class="column is-half-desktop is-three-quarters-mobile">
      <div class="box has-text-centered">
        <p>Crée par <strong><%= @trip.author.first_name %> <%= @trip.author.last_name %></strong></p>
        <p>le <%= @trip.created_at.strftime("%d/%m/%Y")  %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="subtitle is-4 has-text-weight-bold"><%= sanitize @trip.description%></p>
  </div>
  <br>

  <% if !@trip.places.empty? %>
    <%= render 'tripPlaces' %>
  <% elsif current_user == @trip.author%>
    <div class = "container">
      <strong>Votre itinéraire ne comporte pas encore d'étape. Vous pouvez en ajouter en l'éditant.</strong>
    </div>
  <% else %>
    <div class = "container">
      <p>Le trip ne comporte pas encore d'étapes.</p>
    </div>
  <% end %>

  <% if isAdmin? %>
    <div class="buttons is-centered">
      <%= link_to "Éditer l'itinéraire", edit_trip_path(@trip[:id]), class:"button is-info" %>
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% elsif current_user == @trip.author%>
      <div class="buttons is-centered">
        <%= link_to "Éditer l'itinéraire", edit_trip_path(@trip[:id]), class:"button is-info" %>
        <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
      </div>
  <% else %>
    <div class = "container has-text-centered">
      <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
    </div>
  <% end %>
</section>
