<%= render 'tripBanner' %>

<% if !@trip.places.empty? %>
  <%= render 'tripPOIs' %>
<% end %>


<p id="notice"><%= notice %></p>

<div class="container">
  <div class="flex-container">
    <div class="navbar-item">
      <%= link_to "Éditez le trip", edit_trip_path(@trip[:id]), class:"button button-primary" %>
    </div>
    <div class="navbar-item">
      <%= link_to "Revenir aux trips", trips_path, class:"button" %>
    </div>
  </div>
</div>
<br>
<br>
