  <h2>Inscription</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>


        <%= f.input :first_name,
                    label: 'Prénom',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "first_name", style: 'width: 100%' }%>

        <%= f.input :last_name,
                    label: "Nom",
                    required: false,
                    input_html: { autocomplete: "last_name", style: 'width: 100%' }
                    %>

        <%= f.input :email,
                    label: 'email',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", style: 'width: 100%' }%>


        <%= f.input :password,
                    label: 'Mot de passe',
                    required: false,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", style: 'width: 100%' } %>

        <%= f.input :password_confirmation,
                    label: 'Confirmation du mot de passe',
                    required: false,
                    input_html: { autocomplete: "new-password", style: 'width: 100%' } %>
    <br>
      <%= f.button :submit, "Confirmer l'inscription", class:'button-primary' %>
  <% end %>

  <%= render "devise/shared/links" %>
