<section class="section">

  <div class="box has-text-centered">

    <h1 class="title is-1 has-text-black has-text-weight-bold">Résultats de la recherche :</h1>
    <% if @trips.suggestions.any? || @places.suggestions.any? %>
      <p class="has-text-warning is-italic has-text-weight-semi-bold is-size-3">Recherchez-vous bien <%= @trips.suggestions.first || @places.suggestions.first %> ?</p>
    <% end %>
    <p class="has-text-weight-semibold is-size-3"><%= @trips.total_count %> itinéraires</p>
    <p class="has-text-weight-semibold is-size-3"><%= @places.total_count %> lieux</p>
  </div>

  <% if @trips.total_count != 0 %>
    <h2 class="title is-2 has-text-white has-background-black has-text-centered">Les itinéraires</h2>

    <div class="tile is-ancestor wrap-container">
      <% @trips.each do |trip| %>

        <div class="tile is-parent is-3">

          <div class="tile is-child box">
            <figure class="image is-5by3">
              <% if trip.trip_picture.attached? %>
                 <img src = "<%= rails_blob_url(trip.trip_picture)%>">
              <% else %>
                <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
              <% end %>
            </figure>
            <p class="title">
              <%= link_to "#{trip.title}", trip_path(trip[:id]), class:"title is-4 has-text-primary" %>
            </p>
            <p class="subtitle has-text-black is-6">
              <%= trip.category.name %>
            </p>
            <div class="media">
              <figure class="media-left image is-48x48">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
              <div class="media-content">
                <p class="is-6"><%= trip.author.last_name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @places.total_count != 0 %>
    <h2 class="title is-2 has-text-white has-background-black has-text-centered">Les lieux</h2>

    <div class="tile is-ancestor wrap-container">
      <% @places.each do |place| %>

        <div class="tile is-parent is-3">

          <div class="tile is-child box">
            <figure class="image is-5by3">
              <% if place.place_picture.attached? %>
                 <img src = "<%= rails_blob_url(place.place_picture)%>">
              <% else %>
                <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
              <% end %>
            </figure>
            <p class="title">
              <%= link_to "#{place.name}", place_path(place[:id]), class:"title is-4 has-text-primary" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>

  <%= link_to "Retour à l'accueil", root_path, class:"button is-fullwidth is-medium is-light" %>

</section>
