<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">

      <div class="box has-text-centered">

        <h1 class="title is-1 has-text-black has-text-weight-bold">Résultat de la recherche :</h1>
        <% if @trips.suggestions.any? || @places.suggestions.any? %>
          <p class="has-text-info is-italic has-text-weight-semi-bold is-size-4">Votre recherche peut aussi concerner le terme : <%= @trips.suggestions.first || @places.suggestions.first %> </p>
        <% end %>
        <p class="has-text-black-bis has-text-weight-semibold is-size-5"><%= @trips.total_count %> itinéraires</p>
        <p class="has-text-black-bis has-text-weight-semibold is-size-5"><%= @places.total_count %> lieux</p>
      </div>

      <% if @trips.total_count != 0 %>
        <h2 class="title is-2 has-text-white has-background-black has-text-centered">Les itinéraires</h2>
        <div class="tile is-ancestor wrap-container">
          <% @trips.each do |trip| %>
            <%= render 'trips/tripTile', trip: trip %>
          <% end %>
        </div>
      <% end %>

      <% if @places.total_count != 0 %>
        <h2 class="title is-2 has-text-white has-background-black has-text-centered">Les lieux</h2>
        <div class="tile is-ancestor wrap-container">
          <% @places.each do |place| %>
            <%= render 'shared/placeTile', place: place %>
          <% end %>
        </div>
      <% end %>

      <div class="has-text-centered">
        <%= link_to "Retour à l'accueil", root_path, class:"button" %>
      </div>


    </div>
  </div>
</section>
