  <%= form_with(url: [:admin, place], model: @place, local: true) do |form| %>
    <% if place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> Les modifications n'ont pas pu être enregistrées :</h2>

        <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, "Nom" %>
      <%= form.text_field :name, class:"input" %>
    </div>
    <br>

    <div class="field">
      <strong><%= form.label :tag_list, "Vous pouvez entrer des tags en les séparant par une virgule" %></strong>
      <%= form.text_field :tag_list, class:"input" %>
    </div>
    <br>

    <div class="field">
      <%= form.label :address, "Adresse" %>
      <%= form.text_area :address, class:"input" %>
    </div>
    <br>

    <div class="field">
      <strong><%= form.label :city, "Ville" %></strong>
      <%= form.text_field :city, class:"input" %>
    </div>
    <br>

    <div class="field">
      <%= form.label :subtitle, "Sous-titre" %>
      <%= form.text_field :subtitle, class:"input" %>
    </div>
    <br>

    <div class="field">
      <%= form.label :description %>
      <%= form.hidden_field :description, id:'place_description', class:"input" %>
      <trix-editor input="place_description"></trix-editor>
    </div>
    <br>

    <div class="field">
      <%= form.label :price, "Tarif" %>
      <%= form.text_field :price, class:"input" %>
    </div>
    <br>

    <div class="field">
      <%= form.label :price_2, "Autre tarif" %>
      <%= form.text_field :price_2, class:"input" %>
    </div>
    <br>

    <div class="field">
      <%= form.label :website, "Site internet" %>
      <%= form.text_field :website, class:"input" %>
    </div>

    <div class="field">
      <%= form.label :phone, "Téléphone" %>
      <%= form.text_field :phone, class:"input" %>
    </div>
    <div class="field">
    <p>Vous pouvez ajouter une photo à votre lieu :</p>
    <%= form.file_field :place_picture %>
    </div>
    <div class="field">
      <%= form.submit "Enregistrer le lieu", class:"button is-primary is-fullwidth" %>
    </div>
  <% end %>
