<%= form_with(url: [:admin, place], model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> Les modifications n'ont pas pu être enregistrées :</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_list, "Vous pouvez entrer des tags en les séparant par une virgule" %>
    <%= form.text_field :tag_list, class:"input" %>
  </div>
  <br>

  <div class="field">
    <%= form.label :address, "Adresse" %>
    <%= form.text_area :address, class:"input" %>
  </div>
  <br>

  <div class="field">
    <strong><%= form.label :subtitle, "Sous-titre" %></strong>
    <%= form.text_field :subtitle, class:"input" %>
  </div>
  <br>

  <div class="field">
    <strong><%= form.label :description, "Description" %></strong>
    <%= form.hidden_field :description, id:'place_description', class:"input" %>
    <trix-editor input="place_description"></trix-editor>
  </div>
  <br>
  <br>
  <div class="field">
    <strong><%= form.label :price, "Tarif" %></strong>
    <%= form.text_field :price, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :price_2, "Autre tarif" %></strong>
    <%= form.text_field :price_2, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :website, "Site internet" %></strong>
    <%= form.text_field :website, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :phone, "Téléphone" %></strong>
    <%= form.text_field :phone, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong>Vous pouvez modifier la photo associée à ce lieu : </strong>
    <%= form.file_field :place_picture %>
  </div>
  <br>
  <div class="field">
    <strong> <%= form.label :attribution, "Entrer une attribution pour l'auteur de la photo" %></strong>
    <%= form.text_field :attribution, class:"input" %>
  </div>
  <br>
  <div class="field">
    <%= form.submit "Confirmer les modifications", class:"button is-primary is-fullwidth" %>
  </div>
<% end %>
