<br>
<br>
<div class="container">
  <h1 class="poi-name"><%= @place.name %></h1>

  <p class="strong-text">Adresse </p>
  <div class="container-sm">
    <p> <%= @place.address %> </p>
  </div>
  <p class="strong-text">Coordonnées géographiques </p>
  <div class="container-sm">
    <p> Latitude : <%= @place.latitude %></p>
    <p> Longitude : <%= @place.longitude %></p>
  </div>
  <p class="strong-text">Liste des tags</p>
  <div class="container-sm">
    <%= @place.tag_list %>
    <p>Vous pouvez ajouter des tags ci-dessous.</p>
    <p>Consulter la liste <span type =button><%= link_to 'ICI', admin_tags_path  %></span></p>
  </div>
<hr />
</div>

<%= render 'formEditPlace', place: @place %>

<div class="container">
  <%= link_to "Revenir à la liste des lieux", admin_places_path, class:"button btn-margin" %>
</div>
<br>
<br>
<br>
