<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <h1 class="title is-1 has-text-black has-text-centered"><%= @place.name %></h1>

      <% if isAdmin? %>
        <div class="container has-text-centered">
          <% if @place.online == true %>
            <p>Ce lieu est actuellement publié en ligne et visible par tous les utilisateurs</p>
          <% else %>
          <p>Ce lieu n'est actuellement pas publié en ligne. Il est visible unqiuement par l'admin et par son auteur (si différent de l'admin)</p>
          <% end %>
        </div>
        <br>
        <% if @place.online == false %>
          <div class="container has-text-centered">
            <%= form_with(url: [:admin, @place], model: @place, local: true) do |f| %>
              <%= f.hidden_field :online, :value => true %>
              <%= f.submit "Publier", class:"button is-primary"%>
            <% end %>
          </div>
        <% else %>
          <div class="container has-text-centered">
            <%= form_with(url: [:admin, @place], model: @place, local: true) do |f| %>
              <%= f.hidden_field :online, :value => false %>
              <%= f.submit "Mettre hors-ligne", class:"button is-warning"%>
            <% end %>
          </div>
        <% end %>
        <br>
        <div class="container has-text-centered">
          <%= link_to "Voir le lieu tel qu'il apparaît en ligne", place_path(@place[:id]), class:"button" %>
        </div>
        <br>
      <% end %>

      <p class="has-text-centered"> <%= @place.address %> </p>
      <br>
      <p class="has-text-centered"><strong>Coordonnées géographiques :  </strong></p>
      <div class="has-text-centered">
        <p> Latitude : <%= @place.latitude %></p>
        <p> Longitude : <%= @place.longitude %></p>
      </div>
      <br>
      <p class="has-text-centered"><strong>Région(s) :  </strong></p>
      <br>
        <% if @place.regions %>
          <% @place.regions.each do |region| %>
            <div class="columns is-centered">
              <div class="column">

              </div>
              <div class="column">
                  <p class="has-text-black"> <%= region.name %></p>
              </div>
              <div class="column">
                <% join_region_to_place = JoinRegionToPlace.where(place_id: @place.id, region_id: region.id) %>
                <%= link_to 'Supprimer', admin_place_region_path(@place, join_region_to_place.ids), method:"delete", data: {confirm: "Êtes-vous sûr de supprimer cette étape ?"}, class:"button is-danger" %>
              </div>
              <div class="column">

              </div>
            </div>
          <% end %>
        <% end %>
        <br>
        <%= link_to "Ajouter une région", admin_place_region_index_path(@place), class:"button is-fullwidth" %>
        <br>
      <div class="columns">
        <div class = "column">
          <div class="container">
            <div class="container has-text-centered">
              <strong>Description</strong>
            </div>
            <br>
            <p class="has-text-weight-medium"><%= sanitize @place.description %></p>
          </div>
        </div>
        <div class="column">
          <div class="container has-text-centered">
            <strong>Photo d'illustration du lieu</strong>
          </div>
          <br>
          <% if @place.place_picture.attached? %>
            <div class="container">
              <img src = "<%= rails_blob_url(@place.place_picture)%>">
            </div>
          <% else %>
            <div class="container">
              <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <h2 class="title is-2 has-text-centered"> Éditez la description du lieu </h2>
      <%= render 'formEditPlaceAdmin', place: @place %>
      <br>
      <div class="container has-text-centered">
        <%= link_to "Revenir à la liste des lieux", admin_places_path, class:"button" %>
      </div>
    </div>
  </div>
</section>
