<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">Liste des lieux</h1>
  </div>
  <br>
  <div class="container has-text-centered">
    <%= link_to 'Créer un lieu', new_place_path, class:"button is-primary" %>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date de création</th>
        <th>Dernière actualisation</th>
        <th>Statut de publication</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.id%></td>
          <td><%= place.name %></td>
          <td><%= place.created_at.strftime("%d/%m/%Y")%></td>
          <td><%= place.updated_at.strftime("%d/%m/%Y") %></td>
          <td><%= place.online %></td>
          <td><%= link_to 'Détails du lieu', place_url(place[:id])%></td>
          <td><%= link_to 'Édition', edit_admin_place_path(place[:id]) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container has-text-centered">
    <%= link_to 'Créer un lieu', new_place_path, class:"button is-primary" %>
  </div>
</section>
