<div class="container">
  <h3 class="title is-3 has-text-weight-bold">Les itinéraires que j'ai sauvegardés</h3>
</div>
<br>

<% if @user.saved_trips.length > 0 %>

  <div class="tile is-ancestor wrap-container">

    <% @user.saved_trips.each do |saved_trip| %>
      <div class="tile is-parent is-3">

       <div class="tile is-child box">
          <figure class="image is-5by3">
            <% if saved_trip.trip.trip_picture.attached? %>
               <img src = "<%= rails_blob_url(saved_trip.trip.trip_picture)%>" style="float:left;width:100%;height:70%;object-fit:cover;">
            <% else %>
              <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
            <% end %>
          </figure>
          <p class='title'>
            <%= link_to "#{saved_trip.trip.title}", trip_path(saved_trip.trip[:id]), class:"trip-title-card" %>
          </p>
          <p class='subtitle has-text-black is-6'>
            <%= saved_trip.trip.category.name %>
          </p>
          <%= link_to "Explorer", trip_path(saved_trip.trip[:id]), class:"button is-outlined is-primary" %>
        </div>
      </div>
    <%end%>
  </div>

<% elsif @user == current_user %>
<div class="container">
  <p>Vous n'avez pas encore sauvegardé d'itinéraire.</p>
</div>

<% else %>
<div class="container">
  <p><%= @user.first_name%> n'a enregistré aucun itinéraire.</p>
</div>

<% end %>
