<div class = "container text-center">
  <h3>Profil</h3>
   <p> Utilisateur : <%= @user.first_name%> <%= @user.last_name %></p><br>
  <p> Description : <%= @user.description%></p> 
  <% if @user == current_user%>
    <p>Email : <%= @user.email%>
    <br>
   <%= link_to "Créer un trip", new_trip_path, id:"btn-go", class:"button" %>
  <%= link_to 'Editer votre compte',edit_user_registration_path, class:'button button-primary' %>

  <% end %>
  <hr>
  <h3>Trips publiés</h3>
  <% if @user.created_trips.length > 0 %>
   <% @user.created_trips.each do |trip| %>
     <div class="card-trip">
          <div class="card-image">
            <img src="">
          </div>
          <div class="card-content">
            <div class="card-title">
              <%= link_to "#{trip.title}", trip_path(trip[:id]), class:"trip-title" %>
            </div>
            <div class="">
              <p class="strong-text"><%= trip.category.name %></p>
              <p><%= trip.description %></p>
              <%= link_to "Explorer", trip_path(trip[:id]), class:"button" %>
            </div>
          </div>
        </div>
   <%end%>
  <% elsif @user == current_user %>
    <p>Vous n'avez publiés aucun trip, c'est le moment de commencer !</p>
  <% else %>
    <p><%= @user.first_name%> n'a publié aucun trip pour le moment !</p>
  <% end %>
  <hr>
  <h3>Carnet de route</h3>
  <% if @user.saved_trips.length > 0 %>
   <% @user.saved_trips.each do |saved_trip| %>
     <div class="card-trip">
          <div class="card-image">
            <img src="">
          </div>
          <div class="card-content">
            <div class="card-title">
              <%= link_to "#{saved_trip.trip.title}", trip_path(saved_trip.trip[:id]), class:"trip-title" %>
            </div>
            <div class="">
              <p class="strong-text"><%= saved_trip.trip.category.name %></p>
              <p><%= saved_trip.trip.description %></p>
              <%= link_to "Explorer", trip_path(saved_trip.trip[:id]), class:"button" %>
            </div>
          </div>
        </div>
   <%end%>
  <% elsif @user == current_user %>
    <p>Vous n'avez aucun trip enregistré dans votre carnet de voyage pour le moment</p>
  <% else %>
    <p><%= @user.first_name%> n'a enregistré aucun trip dans son carnet de voyage pour le moment !</p>
  <% end %>

</div>