  <div class = "jumbotron homepage">


  <div class="container">
    <div class="">
      <%=link_to 'MARIVEL', trips_path, class:"brand" %>
    </div>

    <div class="">
      <h1>L'inspiration de vos explorations</h1>
    </div>
    <!-- <a href = "#categories_index" class = "button button-primary">Découvrez nos trips</a> -->
    <% if user_signed_in? %>
      <div class="center">
        <p class='welcome-text'> Bienvenue <%= current_user.first_name%> </p>
      </div>
      <div class="flex-container">
        <div class="navbar-item">
          <%= link_to 'Editez votre compte',edit_user_registration_path, class:'navbar-link' %>
        </div>
        <div class="navbar-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'navbar-link'  %>
        </div>
      </div>
    <% else %>
      <div class="center">
        <div class="flex-container">
          <div class="navbar-item">
            <%= link_to "Se connecter", new_user_session_path, class:"button" %>
          </div>
          <div class="navbar-item">
            <%= link_to "S'inscrire", new_user_registration_path, class:"button button-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="container">
      <% if user_signed_in? && current_user.role === 'admin' %>
        <%= link_to "Interface d'admin des itinéraires", admin_trips_path %>
      <% end %>
    </div>


      <br>
      <br>
  </div>
