  <div class = "jumbotron homepage">


  <div class="container">
    <div class="">
      <%=link_to 'MARIVEL', trips_path, class:"brand" %>
    </div>

    <div class="">
      <h1>L'inspiration de vos explorations</h1>
    </div>

    <% if user_signed_in? %>
      <div class="center">
        <p class='welcome-text'> Bienvenue <%= current_user.first_name%> </p>
      </div>
      <div class="flex-container">
        <div class="navbar-item">
          <%= link_to "Voir le profil", user_path(current_user.id), class:"button button-primary" %>
        </div>
        <div class="navbar-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'navbar-link'  %>
        </div>
      </div>
    <% else %>
      <div class="center">
        <div class="flex-container">
          <div class="navbar-item">
            <%= link_to "Se connecter", new_user_session_path, class:"button" %>
          </div>
          <div class="navbar-item">
            <%= link_to "S'inscrire", new_user_registration_path, class:"button button-primary" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if isAdmin? %>
      <div class="flex-container">
        <div class="navbar-item">
            <%= link_to "Espace Admin des users", admin_users_path, class:'button'  %>
        </div>
        <div class="navbar-item">
            <%= link_to "Espace Admin des trips", admin_trips_path, class:'button'  %>
        </div>
        <div class="navbar-item">
            <%= link_to "Espace Admin des catégories", admin_categories_path, class:'button'  %>
        </div>
        <div class="navbar-item">
            <%= link_to "Espace Admin des lieux", admin_places_path, class:'button'  %>
        </div>
      </div>
    <% end %>

    </div>



      <br>
      <br>
  </div>
