<div class = "grid-container-navbar">

    <div class="grid-item-navbar">
      <%= form_with url: '/search', model: @place, method: "get" do %>
        <div class="flex-container">
          <div class="">
            <%= text_field_tag :search, params[:search] %>
          </div>
          <div class="">
            <%= button_tag :submit, class:"button-sm" do %>
               <i class="fas fa-search-location fa-2x"></i>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <div  class = "grid-item-navbar-brand">
      <div class="navbar-item">
        <%=link_to 'MARIVEL', trips_path, class:"brand-small" %>
      </div>
    </div>

    <div class="grid-item-navbar">

      <% if isTraveler? %>
      <div class="">
        <div class="flex-container">
          <div class="navbar-item">
            <%= link_to '<i class="fas fa-user-circle fa-3x "></i>'.html_safe, user_path(current_user.id) %>
          </div>
          <div class="navbar-item">
            <%= link_to "#{current_user.first_name}", user_path(current_user.id), class:"welcome-text" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'button' %>
          </div>
        </div>
      </div>

      <% elsif isAdmin? %>
      <div class="">
        <div class="flex-container">
          <div class="navbar-item">
            <%= link_to '<i class="fas fa-user-circle fa-3x "></i>'.html_safe, admin_user_path(current_user.id) %>
          </div>
          <div class="navbar-item">
            <%= link_to "#{current_user.first_name}", admin_user_path(current_user.id), class:"welcome-text" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'button' %>
          </div>
        </div>
      </div>

      <% elsif isPartner? %>
      <div class="">
        <div class="flex-container">
          <div class="navbar-item">
            <%= link_to '<i class="fas fa-user-circle fa-3x "></i>'.html_safe, partner_user_path(current_user.id) %>
          </div>
          <div class="navbar-item">
            <%= link_to "#{current_user.first_name}", partner_user_path(current_user.id), class:"welcome-text" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'button' %>
          </div>
        </div>
      </div>

      <% else %>
        <div class="">
          <div class="flex-container">
            <div class="navbar-item">
              <%= link_to "Se connecter", new_user_session_path, class:"button" %>
            </div>
            <div class="navbar-item">
              <%= link_to "S'inscrire", new_user_registration_path, class:"button button-primary" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

</div>
<br>
<br>
