<div class="container">

  <h2 align="center"> Éditer l'itinéraire </h2>
</div>

<div class="container">
  <h3>Initialisation de l'itinéraire</h3>

  <%= form_with(url:[:admin, trip], model: trip, local: true) do |form| %>
    <% if trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> Les modifications n'ont pas pu être enregistrées :</h2>

        <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, "Titre de l'itinéraire" %>
      <%= form.text_field :title, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :description, "Description" %>
      <%= form.text_field :description, class:"u-full-width" %>
    </div>
    <br>
    <div class="flex-container">
    <p> Modifier la photo associée : </p>
    <%= form.file_field :trip_picture %>
    </div>
    <br>
    <div class="">
      <p class = strong-text>Categorie actuelle : <%= @trip.category.name %> </p>
      <%= form.label :category, "Modifier la catégorie" %>
      <%= select_tag :category_id, options_for_select(@categories), prompt: "Sélectionner une catégorie", class:"u-full-width" %>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= form.submit "Confirmer les modifications", class:"button-primary" %>
    </div>
  <% end %>
</div>
<br>

<div class="container">
  <h3>Ajouter des lieux</h3>

  <%= form_with(url: [:admin, trip], model: [@trip, @new_place], local: true) do |form| %>
    <% if @new_place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
        <% @new_place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, "Nom" %>
      <%= form.text_field :name, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :address, "Adresse" %>
      <%= form.text_area :address, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :subtitle, "Sous-titre" %>
      <%= form.text_field :subtitle, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :price, "Tarif" %>
      <%= form.text_field :price, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :price_2, "Autre tarif" %>
      <%= form.text_field :price_2, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :website, "Site internet" %>
      <%= form.text_field :website, class:"u-full-width" %>
    </div>
    <br>
    <div class="field">
      <%= form.label :phone, "Téléphone" %>
      <%= form.text_field :phone, class:"u-full-width" %>
    </div>
    <br>
      <div class="flex-container">
    <p>Vous pouvez ajouter une photo à votre lieu :</p>
    <%= form.file_field :place_picture %>
    </div>
    <div class="actions">
      <%= form.submit "Ajouter le lieu", class:"button-primary" %>
    </div>
    <% end %>
</div>

  <hr />

    <div class="container">
      <%= link_to "Revenir à la liste des itinéraires", admin_trips_path, class:"button btn-margin" %>
      <%= link_to "Supprimer le trip", admin_trip_path(trip[:id]), method:"delete", data: {confirm: "Confirmez-vous la suppression de cet itinéraire ?"}, class:"button btn-margin" %>
    </div>
  <br>
  <br>
  <br>
