<section class=section>

  <h1 class="title is-1 has-text-black has-text-centered"><%= @trip.title %></h1>
  <p class="has-text-centered">Catégorie : <strong> <%= @trip.category.name %> </strong></p>
  <br>

  <% if isAdmin? %>
    <div class="container has-text-centered">
      <% if @trip.online == true %>
        <p class="is-italic"> Cet itinéraire est actuellement publié en ligne. </p>
      <% else %>
        <p class="is-italic"> Cet itinéraire est en attente de validation pour publication en ligne. </p>
      <% end %>
    </div>
    <br>
    <% if @trip.online == false %>
      <div class="container has-text-centered">
        <%= form_with(url: [:admin, @trip], model: @trip, local: true) do |f| %>
          <%= f.hidden_field :online, :value => true %>
          <%= f.submit "Publier", class:"button is-primary" %>
        <% end %>
      </div>
    <% else %>
      <div class="container has-text-centered">
        <%= form_with(url: [:admin, @trip], model: @trip, local: true) do |f| %>
          <%= f.hidden_field :online, :value => false %>
          <%= f.submit "Mettre hors-ligne", class:"button is-warning" %>
        <% end %>
      </div>
    <% end %>
    <br>
    <div class="container has-text-centered">
      <%= link_to "Voir l'itinéraire tel qu'il apparaît en ligne", trip_path(@trip[:id]), class:"button" %>
    </div>
    <br>
  <% end %>

  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <div class ="columns">
        <div class = "column">
          <div class="container">
            <p class="has-text-centered has-text-black-bis has-text-weight-semibold">Description</p>
            <br>
            <p class="has-text-weight-medium"><%= sanitize @trip.description %></p>
          </div>
        </div>

        <div class="column">
          <div class="container has-text-centered">
            <p class="has-text-centered has-text-black-bis has-text-weight-semibold">Photo d'illustration de l'itinéraire</p>
          </div>
          <br>
          <% if @trip.trip_picture.attached? %>
            <div class="container">
              <img src = "<%= rails_blob_url(@trip.trip_picture)%>">
            </div>
          <% else %>
            <div class="container">
              <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">

  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <div class="container">
        <h2 class="title is-2"> Les étapes de l'itinéraire</h2>
      </div>
      <br>
      <div class="container">
        <% if @trip.places.length > 0 %>

              <div class="tile is-ancestor wrap-container">
                  <% @trip.places.each do |place|%>
                    <div class="tile is-parent is-2">
                      <div class="tile box is-child has-text-centered">
                        <figure class="image is-5by3">
                          <% if place.place_picture.attached? %>
                            <img src = "<%= rails_blob_url(place.place_picture)%>" class="is-rounded">
                          <% else %>
                            <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
                          <% end %>
                        </figure>
                        <br>
                        <p class="title is-6">
                          <%= link_to "#{place.name}", place_path(place[:id])%>
                        </p>
                        <% trip_waypoint = TripWaypoint.where(place_id: place.id, trip_id: @trip.id) %>
                        <%= link_to "Supprimer", trip_waypoint_path(@trip, trip_waypoint.ids), method:"delete", data: {confirm: "Êtes-vous sûr de supprimer cette étape ?"}, class:"button is-danger" %>
                      </div>
                    </div>
                  <% end %>
              </div>
          <% else %>
            <div class="box has-text-centered">
              <p>Aucune étape n'a encore été ajoutée.</p>
            </div>
          <% end %>
        <%= link_to "Ajouter des lieux", admin_trip_waypoint_index_path(@trip), class:"button is-medium is-fullwidth is-primary" %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <div class="container">
        <h2 class="title is-2"> Éditez les détails de l'itinéraire </h2>
      </div>
      <br>
      <%= render 'trips/formEditTrip', trip: @trip %>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fullhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
      <div class="buttons is-centered">
        <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
        <% if @trip.author == current_user %>
          <%= link_to "Supprimer l'itinéraire", trip_path(@trip[:id]), method:"delete", data: {confirm: "Confirmez-vous la suppression de cet itinéraire ?"}, class:"button is-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
