<br>
<br>
<div class="container">
  <div class ="row">
    <div class = "one-half column">
      <h1 class="trip-title"><%= @trip.title %></h1>

      <div class="flex-container-column">
        <% if @trip.online == true %>
          <div class="">
            <p> Cet itinéraire est actuellement publié en ligne. </p>
          </div>
        <% else %>
          <div class="">
            <p> Cet itinéraire n'est actuellement pas publié en ligne. </p>
          </div>
        <% end %>

        <% if @trip.online == false %>
          <div class="">
            <%= form_with(url: [:admin, @trip], model: @trip, local: true) do |f| %>
              <%= f.hidden_field :online, :value => true %>
              <%= f.submit "Publier", class:"button-primary" %>
            <% end %>
          </div>
        <% else %>
          <div class="">
            <%= form_with(url: [:admin, @trip], model: @trip, local: true) do |f| %>
              <%= f.hidden_field :online, :value => false %>
              <%= f.submit "Mettre hors-ligne", class:"button" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <p class="strong-text">Catégorie : <%= @trip.category.name %></p>
      <p><%= @trip.description %></p>
      </div>

      <div class ="one-half column">
        <% if @trip.trip_picture.attached? %>
          <div class="">
            <img src = "<%= rails_blob_url(@trip.trip_picture)%>" class = "twelve columns",  style="float:right;width:100%;height:50%;object-fit:cover;">
          </div>
        <% else %>
          <div class="">
            <img src = "https://images.unsplash.com/photo-1585068026984-52c8cb27ed5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class = "twelve columns", style="float:right;width:70%;height:30%;object-fit:cover;">
          </div>
        <% end %>
      </div>
    </div>


    <div class="">
      <% if @trip.places.length > 0 %>

        <% @trip.places.each do |place|%>
          <div class="flex-container-between ">
            <% if place.place_picture.attached? %>
              <div class="">
                <img src = "<%= rails_blob_url(place.place_picture)%>" class = "twelve columns", style = "height: 50px; width: 45px">
              </div>
            <% else %>
              <div class="">
                <img src = "https://images.unsplash.com/photo-1585068026984-52c8cb27ed5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class = "twelve columns", style = "height: 50px; width: 45px">
              </div>
            <% end %>
            <div class="container-sm">
              <%= link_to "#{place.name}", admin_place_path(place[:id])%>
            </div>
            <div class="container-sm">
              <%= link_to "Éditer", edit_admin_trip_place_path(place[:id]), class:"button button-primary" %>
            </div>
            <div class="container-sm">
              <% trip_waypoint = TripWaypoint.where(place_id: place.id, trip_id: @trip.id) %>
              <%= link_to "Supprimer", admin_trip_waypoint_path(@trip, trip_waypoint.ids), method:"delete", data: {confirm: "Êtes-vous sûr de supprimer cette étape ?"}, class:"button" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucune étape n'a encore été ajoutée.</p>
      <% end %>
    </div>
  <br>
  <br>
    <div class="">
      <%= link_to "Ajouter des lieux", admin_trip_waypoint_index_path(trip_id: @trip.id), class:"button button-primary u-full-width" %>
    </div>
  <hr>
</div>
<br>
<%= render 'formEditTrip' %>
