<br>
<br>
<div class="container">
  <div class ="row">
  <div class = "six columns">
    <h1 class="trip-title"><%= @trip.title %></h1>
    <p>Catégorie : <%= @trip.category.name %></p>
    <p>Description : <%= @trip.description %></p>
  </div>
  <div class ="six columns">
    <% if @trip.trip_picture.attached? %>
      <img src = "<%= rails_blob_url(@trip.trip_picture)%>" class = "twelve columns", style="float:left;width:100%;height:70%;object-fit:cover;">
    <% else %>
      <img src = "https://images.unsplash.com/photo-1585068026984-52c8cb27ed5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class = "twelve columns", style="float:left;width:100%;height:70%;object-fit:cover;">
    <% end %>
  </div>
</div>
  <hr>
  <h2> Éditer le trip </h2>
</div>

<%= render 'formEditTrip', trip: @trip %>
