<%= render 'shared/topNavBar' %>

<div class="">
  <div class="jumbotron roadtrip-cat">
    <div class="container">
      <%= render 'categoryBanner' %>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <%= render 'shared/navbar' %>
    <%= render 'indexTripByCategory' %>
  </div>
  <br>



  <div class="container">
    <%= link_to "Retour à l'accueil", trips_path, class:'button' %>
  </div>
  <br>

</div>
