<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-fulhd is-two-thirds-widescreen is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">

      <div class="box has-text-centered">
        <h1 class="title is-1 has-text-black has-text-weight-bold"><%= @category.name.upcase %></h1>
        <h2 class='is-subtitle has-text-black is-3'> Nombre d'itinéraires : <%= @category.trips.published.length %> </h2>
      </div>

      <div class="columns">
        <div class="column is-two-thirds has-text-right">
          <h4 class="is-subtitle is-4 has-text-black has-text-weight-semibold">Filtrer par catégories :</h4>
        </div>
        <div class="column has-text-right">
          <%= link_to "Roadtrips", category_path(id=1), class:"is-4 has-text-black" %>
        </div>
        <div class="column has-text-right">
          <%= link_to "À vélo", category_path(id=2), class:"is-4 has-text-black" %>
        </div>
        <div class="column has-text-right">
          <%= link_to "À pied", category_path(id=3), class:"is-4 has-text-black has-text-right" %>
        </div>
      </div>

      <div class="tile is-ancestor wrap-container">
        <% @trips.each do |trip| %>
          <%= render 'trips/tripTile', trip: trip %>
        <% end %>
      </div>

    </div>
  </div>
</section>

<div class = "container has-text-centered">
  <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
</div>
<br>
