<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1"> Liste des comptes utilisateurs </h1>
  </div>
  <br>
  <div class="container has-text-centered">
    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>email</th>
          <th>Statut</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to 'Voir le profil', user_path(user[:id]) %>
            </td>
            <td>
              <%= link_to 'Éditer le profil', edit_admin_user_path(user[:id]) %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</section>
