<div class="profilBanner text-center">
  <p class="profil-title"> Bienvenue <%= @user.first_name%> </p>
</div>
<br>

<div class="container-center">
  <p> Vous disposez des autorisations Admin. Retrouvez-les dans l'espace Admin.</p>
  <div class="navbar-item">
      <%= link_to "Espace Admin", admin_admin_path, class:'button button-primary' %>
  </div>
  <br>
  <div class = "flex-container-around">
    <% if @user == current_user %>
     <%= link_to 'Paramètres du compte', edit_user_registration_path, class:'button' %>
     <%= link_to "Création d'itinéraire", new_admin_trip_path, class:"button button-primary" %>
    <%end%>
  </div>
</div>
<hr>

<%= render 'showUserTrips' %>
