<%= form_with model: place, local: true do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> Le lieu n'a pas pu être enregistré : </h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :name, "Nom" %></strong>
    <%= form.text_field :name, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :address, "Adresse" %></strong>
    <%= form.text_area :address, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :latitude %></strong>
    <%= form.text_area :latitude, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :longitude %></strong>
    <%= form.text_area :longitude, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :city, "Ville" %></strong>
    <%= form.text_field :city, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :subtitle, "Sous-titre" %></strong>
    <%= form.text_field :subtitle, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :description, "Description" %></strong>
    <%= form.hidden_field :description, id:'place_description', class:"input" %>
    <trix-editor input="place_description"></trix-editor>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :price, "Tarif" %></strong>
    <%= form.text_field :price, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :price_2, "Autre tarif" %></strong>
    <%= form.text_field :price_2, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :website, "Site internet" %></strong>
    <%= form.text_field :website, class:"input" %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :phone, "Téléphone" %></strong>
    <%= form.text_field :phone, class:"input" %>
  </div>
  <br>
  <div class="field">
  <strong><p>Vous pouvez ajouter une photo à votre lieu :</p></strong>
  <%= form.file_field :place_picture %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :attribution, "Entrez une attribution pour l'auteur de la photo" %></strong>
    <%= form.text_field :attribution, class:"input" %>
  </div>
  <br>
  <div class="field">
    <%= form.submit "Enregitrer le lieu", class:"button is-primary is-fullwidth" %>
  </div>

<% end %>
