<% if place.place_picture.attached? %>
  <section class="hero is-large" style="background:url(<%=rails_blob_url(@place.place_picture)%>);background-position: center;background-size:cover;">
    <div class="hero-body">
      <div class="container has-text-centered">

      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <ul>
          <li><a id="imgButton" type="button" name="button" style="margin-left: 15px;"><i class="fas fa-camera-retro fa-2x"></i></a></li>
          <% if place.attribution %>
            <li><p class="is-size-7 has-text-grey-light has-text-right"><%= place.attribution %></p></li>
          <% end %>
        </ul>
      </div>

    </div>

  </section>


  <div id="imgModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src="<%=rails_blob_url(place.place_picture)%>" alt="">
      </p>
    </div>
    <button id="closeModal" class="modal-close is-large" aria-label="close"></button>
  </div>

<% end %>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">
      <div class="container">
        <h1 class="title is-4 has-text-black">
          <%= place.name %>
        </h1>

        <div class="columns">
          <div class="column is-narrow">
            <nav id="placeNav" class="panel has-background-white">
              <p class="panel-tabs">
                <a href="#carto" class="is-size-6">Carto</a>
              </p>
            </nav>
          </div>
          <div class="column">

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="columns is-mobile is-centered">
    <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">
      <br>
      <div class="container is-fluid">

        <p class="is-size-6 has-text-black"> <%= sanitize place.description%></p>

        <% if place.specific_contents %>
          <% place.specific_contents.each do |specific_content| %>
          <hr>
          <div class="">
            <figure class='image is-128x128 left-image'>
              <img src="<%= rails_blob_url(specific_content.specific_content_picture)%>" alt="photo">
            </figure>

              <p class='has-text-black has-text-weight-bold'><%= specific_content.title %></p>
              <p class="is-italic"><%= specific_content.subtitle %></p>
              <br>
              <p class="is-size-6 has-text-black"><%= sanitize specific_content.content %></p>
          </div>
          <hr>
          <% end %>
        <% end %>

      </div>
      <br>

    </div>
  </div>
</section>

<div id="carto"  class="container is-fluid has-background-white">
  <p class="has-text-white">transition</p>
  <br>
</div>

<section class="section">
  <div class="columns is-centered">

    <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-fifths-widescreen is-three-fifths-fullhd">

      <div class="columns is-centered">

        <div class="column">
          <div class="columns is-mobile">
            <div class="column is-narrow">
              <i class="fas fa-map-marker-alt fa-2x icon-margin"></i>
            </div>
            <div class="column">
              <p><%= @place.address %></p>
            </div>
          </div>

          <% if @place.phone !="" %>
          <div class="columns is-mobile">
            <div class="column is-narrow">
              <span><i class="fas fa-tty fa-lg"></i>
            </div>
            <div class="column">
              <p><%= @place.phone %></p>
            </div>
          </div>
          <% end %>

          <% if @place.website != "" %>
          <div class="columns is-mobile">
            <div class="column is-narrow">
              <i class="fas fa-globe fa-lg"></i>
            </div>
            <div class="column">
              <p><%= link_to @place.website, "#{@place.website}", target:"_blank"  %></p>
            </div>
          </div>
          <% end %>

          <% if @place.price !="" %>
          <div class="columns is-mobile">
            <div class="column is-narrow">
              <i class="fas fa-euro-sign fa-lg"></i>
            </div>
            <div class="column">
              <p><%= @place.price %></p>
            </div>
          </div>
          <% end %>

          <% if @place.price_2 !="" %>
          <div class="columns is-mobile">
            <div class="column is-narrow">
              <i class="fas fa-euro-sign fa-lg"></i>
            </div>
            <div class="column">
              <p><%= @place.price_2 %></p>
            </div>
          </div>
          <% end %>
        </div>

        <div class="column is-narrow">

        </div>

        <div class="column">
          <div id="map" style="width: 100%; height: 350px;"></div>
        </div>
      </div>

    </div>
  </div>

</section>

<script>

  var accessToken =  '<%= ENV['MAPBOX_KEY']%>';

  mapboxgl.accessToken = accessToken;

  var place = gon.place
  var geojson = {type: 'FeatureCollection', features: [
     {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [place.longitude, place.latitude]
      },
      properties: {
        name: place.name,
        description: place.description,
        subtitle: place.subtitle,
        price: place.price_2,
        website: place.website,
        phone: place.phone,
        address: place.address
      }
    }
  ]}


  //on initialise notre map sur le div #map
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [place.longitude,place.latitude], //un centre initial [longitude, latitude] (facultatif)
    zoom: 7 //un zoom initial (facultatif)
  });

  // Default Language : Français
  mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.1.0/mapbox-gl-rtl-text.js');
  map.addControl(new MapboxLanguage({
    defaultLanguage: 'fr'
  }));

  geojson.features.forEach(function(marker) {
    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = ' fas fa-map-marker-alt fa-3x ';
    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<strong>' + marker.properties.name + '</strong><p>' + marker.properties.address + '</p>' + '<strong>' + marker.properties.website + '</strong>'))
      .addTo(map);
  });

  // Add fulllscreen control on the map
  map.addControl(new mapboxgl.FullscreenControl());

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  let imgButton = document.getElementById('imgButton');
  let imgModal = document.getElementById('imgModal');
  let closeModal = document.getElementById('closeModal');
  imgButton.addEventListener('click', function() {
    imgModal.classList.add('is-active');
    closeModal.addEventListener('click', function() {
      imgModal.classList.remove('is-active');
    });
  });

</script>
