<br>
<br>
<div class="container">
  <h1 class="poi-name"><%= @place.name %></h1>

  <p class="strong-text">Adresse </p>
  <div class="container-sm">
    <p> <%= @place.address %> </p>
  </div>
  <p class="strong-text">Coordonnées géographiques </p>
  <div class="container-sm">
    <p> Latitude : <%= @place.latitude %></p>
    <p> Longitude : <%= @place.longitude %></p>
  </div>
<hr />

<div class="">
  <%= link_to "Vous pouvez ajouter des tags au lieu", place_join_tag_to_places_path(@place.id), class:"button button-primary u-full-width" =%>
</div>
<hr>
</div>


<%= render 'formEditPlace', place: @place %>

<div class="container">

</div>
<br>
<br>
<br>
