<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>MarivelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- Remove Turbolinks. I can't fix the problems with Javascript -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Gon gem
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= include_gon %>

    <!-- Mapbox
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Mapbox Directions API -->
    <!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
    type="text/css"
    /> -->

    <!-- cdn pour IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <!-- Font Awesone
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://kit.fontawesome.com/82b59b489d.js" crossorigin="anonymous"></script>



    <!-- Mapbox language selon la langue du navigateur -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>

  </head>

  <body>

    <%= render 'shared/navbar' %>

    <% if flash[:notice] %>
    <br>
    <br>
      <% flash.each do |type, msg| %>
        <div class="notification is-info is-light has-text-centered" >
          <%= msg %>
        </div>
      <% end %>
    <% elsif flash[:success]%>
    <br>
    <br>
      <% flash.each do |type, msg| %>
        <div class="notification is-primary is-light has-text-centered"" >
          <%= msg %>
        </div>
      <% end %>
    <% elsif flash[:alert]%>
    <br>
    <br>
      <% flash.each do |type, msg| %>
        <div class="notification is-danger is-light has-text-centered"" >
          <%= msg %>
        </div>
      <% end %>
    <% end %>



    <%= yield %>


    <footer>
      <%= render 'shared/footer' %>
    </footer>

  </body>
</html>
